$background-color: #f2f1f2;
$gray-color: #dcdcdc;

body {
  background-color: $background-color;
  font-size: 18px;
}
header {
  padding: 1em;
  img.logo {
    width: 8em;
  }
}
nav {
  background-color: #fff;
  width: 100%;
  padding: 1em;
  .searchbar {
    display: flex;
    justify-content: space-around;
    .title {
      width: 50%;
      font-size: 1.75em;
      margin-left: 1em;
    }
    .searchinput {
      width: 50%;
      position: relative;
      text-align: right;
      .searchicon {
        position:absolute;
        right: .5em;
        bottom: 1.1em;
        color: $gray-color;
      }
    }
  }
}
.card-list{
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  .card {
    background-color: #fff;
    padding: 1em;
    width: 270px;
    position: relative;
    display: inline;
    margin: .325em;
    border: 1px solid $gray-color;
    &.reveal {
      .description{
        bottom: 60px;
        transition: all 200ms ease;
        .description-container{
          .extraInfo {
            visibility: visible;
          }
        }
      }
    }
    .card-container {
      overflow: hidden;
    }
    .pic {
      width: 270px;
      height: 270px;
      img{
        width: 100%;
        height: 100%;
      }
      &-loading {
        width: 270px;
        height: 270px;
        background-color: #ddd;
      }
    }
    .icon {
      position: absolute;
      z-index: 100;
      width: 50px;
      height: 50px;
      bottom: 0em;
      left: .5em;
      transform: translateY(-134%);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .description {
      background-color: #fff;
      position: relative;
      height: 5em;
      bottom: 0;
      transition: all 200ms ease;
      .description-container {
        position: absolute;
        padding-top: 1.7em;
        font-size: .8em;
        .name {
          font-weight: bold;
          font-size: 1.2em;
        }
        .extraInfo {
          margin-top: 1em;
          visibility: hidden;
        }
      }
    }
  }
}
// We care about Mobile too!
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: .5em;
  }
  .card-list{
    justify-content: center;
  }
  nav {
    background-color: #fff;
    width: 100%;
    padding: 1em;
    .searchbar {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      .title {
        width: 100%;
        font-size: 1.75em;
        text-align: center;
        margin-left: 0;
      }
      .searchinput {
        width: 100%;
        .searchicon {
          bottom: .5em;
        }
      }
    }
  }
}
