<nav>
  <div class="container searchbar">
    <div class="title">Contact List</div>
    <div class=searchinput>
      <input class="form-control" type="text" ng-model="searchText" placeholder="search..."><i class="fa fa-search searchicon" aria-hidden="true"></i>
    </div>
  </div>
</nav>
<div class="container">
  <div id="card-list" class="card-list container">
    <!-- fake loading card to stimulate the user is getting something... kinda like fb -->
    <div class="card" ng-hide="contactList">
      <div class="card-container">
        <div class="pic-loading">
        </div>
        <div class="description">
          <div class="description-container">
            <div class="name">...</div>
            <div class="title">...</div>
          </div>
        </div>
      </div>
    </div>
    <!-- actually loaded card -->
    <div class="card" ng-repeat="contact in contactList | filter:searchText" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-class="{reveal: reveal}">
      <div class="card-container">
        <div class="pic">
          <img src="{{contact.profile_image}}"/>
        </div>
        <div class="description">
          <div class="icon">
            <img src="{{contact.icon}}"/>
          </div>
          <div class="description-container">
            <div class="name">{{contact.name}}</div>
            <div class="title">{{contact.job}} | @{{contact.company_name}}</div>
            <div class="extraInfo">
                Phone Number {{contact.phone}}<br />
                {{contact.email}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
